html {
    font-size: 62.5%;
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

:root {
    --primary-color: #012C3D;
}

body {
    background-color: #F7F8F3;
    margin: 0;
}

#cvlink {
    display: none;
}




/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

.logo a {
    font-family: 'Bebas Neue';
    font-size: 3.6rem;
    text-decoration: none;
    color: #292929;
}

.close-btn {
    width: 3em;
    cursor: pointer;
    display: block;
    background: #F4F3F3;
    padding: 2.5em;
    border-radius: 50%;
    margin-left: auto;
    margin-bottom: 6em;
}

.menu-btn {
    width: 4.2em;
    background: #E8E5E5;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

nav {
    position: fixed;
    right: -100%;
    top: 0;
    width: 66%;
    background: #D9D9D9;
    height: 100vh;
    padding: 4.6em;
    transition: right .5s ease-in-out;
}

nav ul li a {
    font-size: 3.7rem;
    font-family: 'Bebas Neue';
    text-decoration: none;
    color: #012C3D;
    
    
}
nav ul li {
    list-style-type: none;
    margin-top: 3.6em;
    
}

.wrapper-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 2em 2em 1em;
}

.open {
    right: 0%;
}


/* HERO SECTION HERO SECTION HERO SECTION HERO SECTION */

.herosection {
    padding: 2em;
    margin-top: 3em;
    margin-bottom: 16em;
}

h2 {
    font-size: 4.2rem;
    font-family: 'Bebas Neue';
    color: var(--primary-color);
    margin: 0;
}


h2 span {
    background-image: linear-gradient(to bottom, transparent 60%, #84D7F9 20%);
    background-clip: content-box;
    margin: 0;
    padding: 0;
    background-position: 0 -7px;
}

p {
    font-size: 1.8rem;
    font-family: 'Montserrat';
    color: #827373;
}

.rightcol {
    display: none;
}

.projectscta {
    background: var(--primary-color);
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    padding: .8em 2.5em;
    border-radius: .8em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactcta {
    border: 1px solid #012C3D;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.8rem;
    padding: .8em 2em;
    border-radius: .8em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    gap: 1em;
    margin-top: 7em;
    max-width: 42em;
}



/* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */

/*
.projects {
    padding: 2em;
    margin-top: 8em;
}    */

.proyecto1, .proyecto2 {
    padding: 2em;
}

#projectstitle {
    background-color: var(--primary-color);
    padding: 2em 0 2em 2em ;
}

h1  {
    font-size: 5.2rem;
    font-family: 'Bebas Neue';
  
    color: #F7F8F3;
   
}




.projects img {
    width: auto;
    border-radius: .8em;
    object-fit: cover;
}


/* PROJECT1 PROJECT1 PROJECT1 PROJECT1 PROJECT1 PROJECT1 PROJECT1 */

.proyecto1 {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-bottom: 12em;
}

.caption h2 {
    font-size: 5rem;
}

.caption h3 {
    font-size: 2.1rem;
    font-family: 'Montserrat';
    color: var(--primary-color);
}

.ctaproyecto1 {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-top: 3em;
}

.verproyecto-btn {
    background-color: var(--primary-color);
    font-size: 2.2rem;
    color: white;
    text-decoration: none;
    padding: .8em 2.4em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8em;
}

.verlaweb-btn {
    background-color: #E7EAEA;
    border: 1px solid #012C3D;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.2rem;
    padding: .8em 2.5em;
    border-radius: .8em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.verlaweb-btn svg {
    width: .8em;
    color: var(--primary-color);

}

/* PROJECT2 PROJECT2 PROJECT2 PROJECT2 PROJECT2 PROJECT2 PROJECT2 */

.proyecto2 {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-bottom: 12em;
}
.ctaproyecto2 {
    margin-top: 3em;
}


/* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT */

.about img {
    width: 100%;
    margin-bottom: 3em;
}
.about {
    padding: 2em;
}


/* SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS SKILLS */

.skills {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.skills h4 {
    font-size: 4rem;
    margin: 0;
    color: var(--primary-color);
    font-family: 'Bebas neue';
    background-image: linear-gradient(to bottom, transparent 60%, #84D7F9 20%);
    background-clip: content-box;
   
    background-position: 0 -4px;
    width: fit-content;
}

.skills ul {
    font-size: 1.8rem;
    padding: 1em;
    margin: 0;
    margin-left: .1em;
 
}

.skills ul li {
    color: #6A5B5B;
    margin-top: .8em;
    font-family: 'Montserrat';
}


/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {
    background: var(--primary-color);
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    margin-top: 10em;
}

footer h1 {
    font-size: 8.2rem;
    font-family: 'Bebas Neue';
    color: #F7F8F3;
    margin-bottom: .5em;
}

.wrapper-footer {
    padding: 2em;
    display: flex;
    flex-direction: column;
    padding-bottom: 50em;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 3.2em;
}

footer svg {
    width: 2.8em;
}

.phone, .mail, .linkedin {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3em;
    padding-left: 2em;
}
.phone p, .mail p, .linkedin p {
    margin: 0;
    color: #EFEAEA;
}

.mail-svg {
    width: 35em;
    position: absolute;
    top: 70%; /* Adjust the percentage as needed */
    right: -17%;
    transform: translateY(-50%);
    margin-top: 20px; /* Adjust the pixel value as needed */
}

.disclaimer {
    color: #CCC3C3;
    font-size: 1.8rem;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3em;
    padding: 2em;
}


/* TABLET TABLET TABLET TABLET  TABLET TABLET TABLET TABLET */

@media screen and (min-width: 600px) {


    

   
    /* HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO HERO */



    .skills {
        flex-direction: row;
        gap: 10em;
    }


}


@media screen and (min-width: 1115px) {

    nav {
        right: 0;
        height: auto;
        position: unset;
        padding: 0;
        background: none;
        width: auto;
        align-self: center;
    }

    .close-btn, .menu-btn {
        display: none;
    }

    nav ul {
        display: flex;
        gap: 5em;
        align-items: center;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        font-family: 'Montserrat';
        font-size: 2rem;
    }

    .wrapper-navbar {
        max-width: 1200px;
        margin: auto;
    }


    /* HERO */

    .header-caption {
        font-size: 8.9rem;
    }

    .herosection {
        max-width: 1200px;
        margin: auto;
        margin-top: 20em;
        margin-bottom: 45em;
    }

   

    .leftcol {
        max-width: 1200px;
    }

    /* PROJECTS PROJECTS PROJECTS PROJECTS PROJECTS */

    .wrapper {
        max-width: 1200px;
        margin: auto;
        padding: 2em;
    }

    #projectstitle {
        margin-top: 0m;
    }

    h1 {
        font-size: 10.9rem;
        line-height: 0;
    }

    .proyecto1 h2, .proyecto2 h2 {
        font-size: 7.2rem;
    }

    .projects {
        display: flex;
        flex-direction: column;
        gap: 10em;
        margin-bottom: 40em;
    }

    .proyecto1 {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: auto;
        
    }

    .proyecto2 {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1200px;
        margin: auto;
        margin-top: 8em;
    }

    img {
        height: 50em;
        width: 50em;
    }

    .rightcol2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .ctaproyecto1 {
        flex-direction: row;
    }
   



    /* ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT ABOUT  */

    .content-about {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: auto;
        gap: 4em;
        margin-top: 7em;
    }

    .content-about img {
        margin: 0;
        object-fit: cover;
    }

    .wrapper4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .wrapper4 p {
        font-size: 2.6rem;
        margin: 0;

    }
   
    /* HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES HABILIDADES  */


    .skills {
        margin: auto;
        max-width: 1200px;
        gap: 20em;
        margin-top: 24em;
    }



    /* CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO CONTACTO */


    .wrapper-footer {
        max-width: 1200px;
        margin: auto;
    }

    .wrapper-footer h1 {
        color: #F7F8F3;
        font-size: 10.9rem;
        margin-bottom: 1em;
        margin-top: 1.2em;
    }


    .mail-svg {
        width: 70em;
        position: absolute;
        top: 70%; /* Adjust the percentage as needed */
        right: 0%;
        transform: translateY(-90%);
        margin-top: 20px; /* Adjust the pixel value as needed */
    }

}
